body {
    font-family: fantasy, roboto, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 90%, 40%);
}
/* colors for the right answer and wrog asnwer*/
:root {
    --hue-neutral: 530;
    --hue-correct: 140;
    --hue-wrong: 10;
}
/* contaner for the questions*/
.box {
    width: 900px;
    max-width: 80%;
    background: darkgrey;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 0 0 10px 4px;
}

.btn-ans {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 10px;
    gap: 5px;
}
/*buttom styling*/
.btn {
    --hue: var(--hue-neutral);
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    color: snow;
    font-weight: bold;
    font-family: roboto;
    background-color: hsl(var(--hue), 60%, 60%);
    font-size: 20px;
 
}

.btn:hover {
    border-color: black;
}

.btn.right{
    --hue: var(--hue-correct);
    color: black;
    font-size: 30px;
    
}
.btn.wrong{
    --hue: var(--hue-wrong); 
    color: black;
    
}

body.right {
    --hue: var(--hue-correct);
    font-size: 20px;
   
}

body.wrong {
    --hue: var(--hue-wrong);
    
}

.forward-btn,.begin-btn {
    font-size: 40px;
    padding:10px 10px;
    

}

.command{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.none{
    display: none;
}





#quiz{
    font-size:40px;
    text-align:center;
}
